.title {
  font-size: 3rem;
}

.desc {
  font-size: 2rem;
}

.question_content {
  font-size: 1.5rem;
}

.question_answer {
  font-size: 1.2rem;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
}

.buttons > * {
  display: block;
}

.right {
  text-align: right;
}

.form_grid {
  display: grid;
  grid-row-gap: 20px;
}

.quesion_input {
  display: grid;
  grid-template-columns: 1fr auto;
}

.quesion_input > button {
  display: block;
}